@import "../../../scss/index.scss";

.footer{
    background-color: $background-dark-web;
    border-top: 1px solid $primary-color;

    &__logo{
        border-bottom: 1px solid $primary-color;
        color: $primary-color-dark;
        
        h1{
            color: #fff;
        }

        img{
            margin-bottom: 5px;
            width: 200px;
            border-right: 1px solid $primary-color;
        }

    }

    &__copyright{
        margin-top: 10px;

        .ant-col{
            color: $primary-color-dark;
            border-right: 1px solid $primary-color;

            &:last-of-type{
                text-align: right;
            }
        }
    }
}